@media (min-width: 1024px) {
  [data-menu="dropdown"].ativo {
    display: block;
    animation: showDown ease 0.4s forwards;
  }

  [data-lista].ativo::after {
    background: url("../images/icon-arrow-up.svg") no-repeat center center;
  }

  [data-menu="dropdown-2"].ativo {
    display: block;
    animation: showDown ease 0.4s forwards;
  }

  [data-lista2].ativo::after {
    background: url("../images/icon-arrow-up.svg") no-repeat center center;
  }

  @keyframes showDown {
    from {
      transform: translate(10px, 0);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}

@media (max-width: 800px) {
  .header .nav.ativo {
    display: block;
    animation: showUlList ease 0.5s forwards;
  }

  .header .nav [data-menu="dropdown"].ativo {
    display: block;
    position: static;
    transform: translate(0, 0);
    animation: moveDown ease 0.8s forwards;
  }

  [data-lista].ativo::after {
    background: url("../images/icon-arrow-up.svg") no-repeat center center;
  }

  .header .nav [data-menu="dropdown-2"].ativo {
    display: block;
    position: static;
    margin-top: 0;
    animation: moveDown ease 0.7s forwards;
  }

  [data-lista2].ativo::after {
    background: url("../images/icon-arrow-up.svg") no-repeat center center;
    position: static;
  }

  .nav .ul-list > li:nth-of-type(2).ativo {
    padding: 60px;
  }

  #burguerImg.ativo {
    display: block;
    position: fixed;
    top: 30px;
    right: 20px;
  }

  @keyframes showUlList {
    from {
      transform: translate(200px, 0);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  @keyframes moveDown {
    from {
      transform: translate3d(20px, 0);
      opacity: 0;
    }
    to {
      transform: translate3d(0, 0);
      opacity: 1;
    }
  }
}
