.header {
  display: flex;
  padding-top: 1.875rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.nav .ul-list {
  display: flex;
  padding-left: 3.75rem;
  gap: 2.188rem;
  position: relative;
}

.nav .ul-list .link-ul-list {
  box-sizing: border-box;
  font: 500 0.825rem "Epilogue", sans-serif;
  color: var(--medium-gray);
}

.nav .ul-list .link-ul-list:hover {
  color: var(--almost-black);
}

[data-lista]::after {
  content: "";
  display: inline-block;
  background: url("../images/icon-arrow-down.svg") no-repeat center center;
  position: absolute;
  width: 10px;
  height: 6px;
  top: 6px;
  left: 116px;
  margin-left: 0.375rem;
}

[data-lista2]::after {
  content: "";
  display: inline-block;
  background: url("../images/icon-arrow-down.svg") no-repeat center center;
  position: absolute;
  width: 10px;
  height: 6px;
  left: 213px;
  top: 6px;
  margin-left: 0.375rem;
}

.nav .log {
  grid-column: 4;
  justify-self: end;
}

.log ul {
  display: flex;
  gap: 10px;
}

.log li a {
  font: 500 0.975rem "Epilogue", sans-serif;
  padding: 0.75rem 1.125rem;
  color: var(--medium-gray);
}

.log ul a:hover {
  color: var(--almost-black);
}

.log ul li:nth-of-type(2) a {
  border: 2px solid var(--medium-gray);
  border-radius: 1rem;
}

[data-menu="button"] {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

[data-menu="dropdown"] {
  background: #fff;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  position: absolute;
  left: -10px;
  top: 40px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  display: none;
}

[data-menu="dropdown"] li {
  padding: 0.375rem;
  margin-left: 1.875rem;
}

[data-menu="dropdown"] li a {
  font: 500 0.825rem "Epilogue", sans-serif !important;
  color: var(--medium-gray);
}

[data-menu="dropdown"] a:hover {
  color: var(--almost-black);
}

[data-menu="dropdown"] li:nth-of-type(1) a::before {
  content: "";
  display: inline-block;
  background: url("../images/icon-todo.svg") no-repeat;
  width: 14px;
  height: 16px;
  position: absolute;
  left: 10px;
  margin-left: 0.625rem;
}

[data-menu="dropdown"] li:nth-of-type(2) a::before {
  content: "";
  display: inline-block;
  background: url("../images/icon-calendar.svg") no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 10px;
  margin-left: 0.625rem;
}

[data-menu="dropdown"] li:nth-of-type(3) a::before {
  content: "";
  display: inline-block;
  background: url("../images/icon-reminders.svg") no-repeat;
  width: 13px;
  height: 17px;
  position: absolute;
  left: 10px;
  margin-left: 0.625rem;
}

[data-menu="dropdown"] li:nth-of-type(4) a::before {
  content: "";
  display: inline-block;
  background: url("../images/icon-planning.svg") no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 10px;
  margin-left: 0.625rem;
}

[data-menu="dropdown-2"] {
  background: #fff;
  border-radius: 0.625rem;
  padding: 0.5rem;
  position: absolute;
  left: 160px;
  top: 30px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  display: none;
}

[data-menu="dropdown-2"] li {
  margin: 0.75rem;
}

[data-menu="dropdown-2"] li a {
  font: 500 0.825rem "Epilogue", sans-serif !important;
  color: var(--medium-gray);
}

[data-menu="dropdown-2"] li a:hover {
  color: var(--almost-black);
}

@media (max-width: 1440px) {
  

  [data-lista]::after {
    left: 117px;
  }
  
  [data-lista2]::after {
    left: 215px;
  }

  [data-menu="dropdown-2"] {
    left: 160px;
  }
}

@media (max-width: 800px) {
  body {
    overflow: scroll;
  }

  .logo {
    display: block;
  }

  .header {
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
  }

  .header .nav {
    width: 50%;
    height: 100vh;
    position: fixed;
    background: var(--almost-White);
    right: 0;
    top: 0;
    display: none;
  }

  .header .nav .ul-list {
    display: flex;
    flex-direction: column;
    padding: 6rem 2rem 0.625rem;
    gap: 0;
  }

  .header .nav li {
    margin-bottom: 1.25rem;
  }

  [data-lista] {
    position: relative;
  }

  [data-lista2] {
    position: relative;
  }

  [data-lista]::after {
    position: absolute;
    top: 3px;
    left: 63px;
  }

  [data-lista2]::after {
    position: absolute;
    top: 4px;
    left: 67px;
  }

  .header .nav [data-menu="dropdown"] {
    transform: translate(30px, 5px);
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    width: 180px;
    background: transparent;
    display: none;
  }

  [data-menu="dropdown"] li {
    padding: 0;
    margin-left: 2.75rem;
  }

  .header .nav [data-menu="dropdown-2"] {
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    width: 180px;
    background: transparent;
    left: 40px;
    top: 250px;
    margin-top: 0.625rem;
    display: none;
  }

  [data-menu="dropdown-2"] li {
    padding: 0;
    margin-top: 0;
    margin-left: 1.4rem;
  }

  .nav .log {
    display: grid;
    justify-content: center;
    padding-top: 0.625rem;
    padding-right: 0.625rem;
  }

  .nav .log ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .log ul li:nth-of-type(2) a {
    padding: 0.6rem 4.5rem;
  }

  [data-menu="button"] {
    display: block;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 1;
  }
}
